<% provide(:title, 'Dashboard') %>
<% content_for :scripts do %>
  <!-- Dependencies -->
  <%= javascript_include_tag 'chartjs/chartjs.js' %>

  <%= javascript_include_tag 'dashboards_dashboard-1.js' %>
<% end %>

<!--
=================================================================
**************************** CONTENT ****************************
-->

<h4 class="font-weight-bold py-3 mb-4">
  Dashboard
</h4>

<!-- Counters -->
<div class="row">
  <div class="col-sm-6 col-xl-3">

    <div class="card mb-4">
      <div class="card-body">
        <div class="d-flex align-items-center">
          <div class="lnr lnr-apartment display-4 text-success"></div>
          <div class="ml-3">
            <div class="text-muted small">Clients</div>
            <div class="text-large"><%= Client.active %></div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="col-sm-6 col-xl-3">

    <div class="card mb-4">
      <div class="card-body">
        <div class="d-flex align-items-center">
          <div class="lnr lnr-calendar-full display-4 text-info"></div>
          <div class="ml-3">
            <div class="text-muted small">Projects</div>
            <div class="text-large"><%= Project.active %></div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="col-sm-6 col-xl-3">

    <div class="card mb-4">
      <div class="card-body">
        <div class="d-flex align-items-center">
          <div class="lnr lnr-question-circle display-4 text-danger"></div>
          <div class="ml-3">
            <div class="text-muted small">Other</div>
            <div class="text-large">0</div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="col-sm-6 col-xl-3">

    <div class="card mb-4">
      <div class="card-body">
        <div class="d-flex align-items-center">
          <div class="lnr lnr-question-circle display-4 text-warning"></div>
          <div class="ml-3">
            <div class="text-muted small">Other</div>
            <div class="text-large">0</div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<!-- / Counters -->
