
<!-- Layout sidenav -->
<div id="layout-sidenav" class="<% if local_assigns[:horizontal] == true %>layout-sidenav-horizontal sidenav-horizontal container-p-x flex-grow-0<% else %>layout-sidenav sidenav-vertical<% end %> sidenav bg-sidenav-theme">
  <% if local_assigns[:horizontal] != true %>
  <!-- Brand demo (see assets/css/demo/demo.css) -->
  <div class="app-brand demo">
    <a href="/" class="app-brand-text demo sidenav-text font-weight-normal ml-2">Floworx</a>
    <a href="javascript:void(0)" class="layout-sidenav-toggle sidenav-link text-large ml-auto">
      <i class="ion ion-md-menu align-middle"></i>
    </a>
  </div>

  <div class="sidenav-divider mt-0"></div>
  <% end %>

  <!-- Links -->
  <ul class="sidenav-inner<% if local_assigns[:horizontal] != true %> py-1<% end %>">

    <!-- Dashboards -->
    <li class="sidenav-item<%= current_page?(wrap_typography_typography_path) ? ' active' : '' %>">
      <%= link_to wrap_typography_typography_path, class: "sidenav-link" do %><i class="sidenav-icon ion ion-md-speedometer"></i><div>Dashboard</div><% end %>
    </li>
    <!-- Layouts -->
    <li class="sidenav-divider mb-1"></li>
    <li class="sidenav-header small font-weight-semibold">MODULES</li>

    <li class="sidenav-item<%= current_page?(clients_path) ? ' active' : '' %>">
      <%= link_to clients_path, class: "sidenav-link" do %><i class="sidenav-icon ion ion-md-radio"></i><div>Clients</div><% end %>
    </li>
  </ul>
</div>
<!-- / Layout sidenav -->
