<table class="table table-striped">
  <thead>
  <tr>
    <th>Code</th>
    <th>Client Name</th>
    <th>View</th>
    <th>Edit</th>
  </tr>
  </thead>
  <tbody>
  <% @clients.each do |client| %>
    <tr>
      <th scope="row"><%= client.code %></th>
      <td><%= client.name %></td>
      <td><%= link_to 'View', client_path(client) %></td>
      <td>Edit</td>
    </tr>
  <% end %>
  </tbody>
</table>