<% provide(:title, 'All Roles') %>
<h4 class="d-flex flex-wrap justify-content-between align-items-center font-weight-bold pt-2 mb-4">
  <div class="mb-2">
    <ol class="breadcrumb font-weight-bold m-0">
      <li class="breadcrumb-item"><%= link_to 'Roles', roles_path %></li>
      <li class="breadcrumb-item active"><small>All Roles</small></li>
    </ol>
  </div>
  <div class="mb-2" style="max-width: 200px;">
    <%= link_to new_role_path, class: "btn btn-primary" do %>
      <span class="ion ion-md-add-circle"></span>&nbsp;&nbsp;New Role
    <% end %>
  </div>
</h4>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Role</th>
  </tr>
  </thead>
  <tbody>
  <% @roles.each do |role| %>
    <tr>
      <th scope="row"><%= link_to role.name, role_path(role) %></th>
    </tr>
  <% end %>
  </tbody>
</table>